.chart {
  position: relative;
  height: 180px;
  margin-top: 1rem;
  transform: translateY(0.5rem);
}

.chart-amount {
  background-color: hsl(25, 47%, 15%);
  color: white;
  border-radius: 5px;
  width: fit-content;
  padding: 0.15rem;
  font-size: 13px;
  position: relative;
  top: -24px;
  transform: translateX(-0.1rem);
}

.chart-bar {
  cursor: pointer;
  position: absolute;
  height: 200px;
  width: 40px;
  border-radius: 5px;
  bottom: 0;
  background-color: brown;
}

.chart-month {
  transform: translateX(0.3rem);
  position: relative;
  top: 11.5rem;
}
